---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: csi-ovirtplugin
  namespace: ovirt-cluster-csi-drivers
  labels:
    app.kubernetes.io/instance: ovirt.csi.k8s.io
    app.kubernetes.io/part-of: csi-driver-ovirt
    app.kubernetes.io/name: ovirt-csi-driver
    app.kubernetes.io/component: plugin
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: ovirt.csi.k8s.io
      app.kubernetes.io/part-of: csi-driver-ovirt
      app.kubernetes.io/name: ovirt-csi-driver
      app.kubernetes.io/component: plugin
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: ovirt.csi.k8s.io
        app.kubernetes.io/part-of: csi-driver-ovirt
        app.kubernetes.io/name: ovirt-csi-driver
        app.kubernetes.io/component: plugin
    spec:
      serviceAccountName: ovirt-csi-driver-controller-sa
      initContainers:
        - name: prepare-ovirt-config
          env:
            - name: OVIRT_URL
              valueFrom:
                secretKeyRef:
                  name: ovirt-credentials
                  key: ovirt_url
            - name: OVIRT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ovirt-credentials
                  key: ovirt_username
            - name: OVIRT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ovirt-credentials
                  key: ovirt_password
            - name: OVIRT_CAFILE
              value: /tmp/config/ovirt-engine-ca.pem
            - name: OVIRT_INSECURE
              valueFrom:
                secretKeyRef:
                  name: ovirt-credentials
                  key: ovirt_insecure
            - name: OVIRT_CA_BUNDLE
              valueFrom:
                secretKeyRef:
                  name: ovirt-credentials
                  key: ovirt_ca_bundle
          image: quay.io/openshift/origin-ovirt-csi-driver:latest
          imagePullPolicy: IfNotPresent
          command:
            - /bin/sh
            - -c
            - |
              #!/bin/sh
              cat << EOF > /tmp/config/ovirt-config.yaml
              ovirt_url: $OVIRT_URL
              ovirt_username: $OVIRT_USERNAME
              ovirt_password: $OVIRT_PASSWORD
              # set a valid path only if ca bundle has content
              ovirt_cafile: ${OVIRT_CA_BUNDLE:+$OVIRT_CAFILE}
              ovirt_insecure: $OVIRT_INSECURE
              EOF
              if [[ -n "$OVIRT_CA_BUNDLE" ]]; then echo "$OVIRT_CA_BUNDLE" > $OVIRT_CAFILE ; fi
          volumeMounts:
            - name: config
              mountPath: /tmp/config
          resources:
            requests:
              memory: 128Mi
              cpu: 160m
      containers:
        - name: ovirt
          image: quay.io/openshift/origin-ovirt-csi-driver:latest
          imagePullPolicy: IfNotPresent
          args:
            - --endpoint=$(CSI_ENDPOINT)
          env:
            - name: CSI_ENDPOINT
              value: unix:///csi/csi.sock
            - name: KUBE_f_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: OVIRT_CONFIG
              value: /tmp/config/ovirt-config.yaml
          securityContext:
            privileged: true
          ports:
          - containerPort: 9898
            name: healthz
            protocol: TCP
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /healthz
              port: healthz
            initialDelaySeconds: 10
            timeoutSeconds: 3
            periodSeconds: 2
          resources:
            requests:
              memory: 64Mi
              cpu: 80m
            limits:
              memory: 128Mi
              cpu: 160m
          volumeMounts:
            - name: socket-dir
              mountPath: /csi/
            - name: config
              mountPath: /tmp/config

        - name: liveness-probe
          image: registry.k8s.io/sig-storage/livenessprobe:v2.7.0
          args:
            - --csi-address=/csi/csi.sock
            - --health-port=9898
          resources:
            requests:
              memory: 64Mi
              cpu: 80m
            limits:
              memory: 128Mi
              cpu: 160m
          volumeMounts:
          - name: socket-dir
            mountPath: /csi/

        - name: csi-attacher
          image: registry.k8s.io/sig-storage/csi-attacher:v3.5.0
          args:
            - --csi-address=/csi/csi.sock
            - --v=5
          securityContext:
            # This is necessary only for systems with SELinux, where
            # non-privileged sidecar containers cannot access unix domain socket
            # created by privileged CSI driver container.
            privileged: true
          resources:
            requests:
              memory: 64Mi
              cpu: 80m
            limits:
              memory: 128Mi
              cpu: 160m
          volumeMounts:
          - name: socket-dir
            mountPath: /csi/

        - name: csi-provisioner
          image: registry.k8s.io/sig-storage/csi-provisioner:v3.2.0
          args:
            - --csi-address=/csi/csi.sock
            - --feature-gates=Topology=true
            - -v=5
          securityContext:
            # This is necessary only for systems with SELinux, where
            # non-privileged sidecar containers cannot access unix domain socket
            # created by privileged CSI driver container.
            privileged: true
          resources:
            requests:
              memory: 64Mi
              cpu: 80m
            limits:
              memory: 128Mi
              cpu: 160m
          volumeMounts:
            - name: socket-dir
              mountPath: /csi/

        - name: csi-resizer
          image: registry.k8s.io/sig-storage/csi-resizer:v1.5.0
          args:
            - -csi-address=/csi/csi.sock
            - -v=5
          securityContext:
            # This is necessary only for systems with SELinux, where
            # non-privileged sidecar containers cannot access unix domain socket
            # created by privileged CSI driver container.
            privileged: true
          resources:
            requests:
              memory: 64Mi
              cpu: 80m
            limits:
              memory: 128Mi
              cpu: 160m
          volumeMounts:
            - name: socket-dir
              mountPath: /csi/

      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi.ovirt.org
            type: DirectoryOrCreate
        - name: config
          emptyDir:
            medium: Memory
